/vendor/
/node_modules/
/public/storage
/storage/*.key
.env
docker-compose.yml
.phpunit.result.cache
Homestead.yaml
Homestead.json
/.vagrant
/.idea
/.vscode
/.phpunit.result.cache
oldcode/
images/php/Dockerfile
images/nginx/default.conf
k8s